<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleGame.css">
    <link rel="stylesheet" href="styleGameHistories.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Rock Paper Scissors</title>
</head>

<body>
    <h1>Summary Statistics</h1>
    <div class="containerBoardHistories">
        <div class="boardHistories">
            <div>YOU</div>
            <div>
                <p>36x</p>
                <p>MATCH</p>
            </div>
            <div>COMP</div>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td>20</td>
                <td>Win</td>
                <td>10</td>
            </tr>
            <tr>
                <td>13%</td>
                <td>Win Percentage</td>
                <td>14%</td>
            </tr>
            <tr>
                <td></td>
                <td>Hero Picked</td>
                <td></td>
            </tr>
            <tr>
                <td>47x (45%)</td>
                <td>
                    <img class="hero" id="Paper" value="Paper" src="assets/Paper.png" alt="">
                </td>
                <td>47x (45%)</td>
            </tr>
            <tr>
                <td>47x (45%)</td>
                <td>
                    <img class="hero" id="Scissors" value="Scissors" src="assets/Scissors.png" alt="">
                </td>
                <td>47x (45%)</td>
            </tr>

            <tr>
                <td>47x (45%)</td>
                <td>
                    <img class="hero" id="Rock" value="Rock" src="assets/Rock.png" alt="">
                </td>
                <td>47x (45%)</td>
            </tr>
        </tbody>
    </table>

    <h1>Detail Statistics</h1>


    <nav>
        <a href="/">HOME</a>
        <a href="/game">PLAY GAME</a>
    </nav>

    <script src="appGame.js"></script>
</body>

</html>
